
@{
    ViewBag.Title = "Dashboard";
}



<div class="training" style="width: 18%; margin-top: 21px;">
    <h3>Hello Abhinav</h3>
    <p>CSS Bangalore</p>
    <table>
        <tr>
            <td><b>Team </b></td>
            <td>
                : <select>
                    <option value="0">Select Team</option>
                    <option value="1" selected>VSOD</option>
                    <option value="2">Office Core</option>

                </select>
            </td>
        </tr>
        <tr>
            <td><b>Skills </b></td>
            <td>: VBA</td>
        </tr>
        <tr>
            <td><b>Manager </b></td>
            <td>
                : <select disabled>
                    <option value="0">Veena Jayarama</option>
                </select>
            </td>
        </tr>
    </table>
</div>

<script>
    $(document).ready(function () {
        $(".w3-bar-block a").removeClass("w3-blue");
        $(".w3-bar-block a:nth-child(2)").addClass("w3-blue");
    });
</script>