@{
    ViewBag.Title = "Home";
}

<div style="margin-top:20px;font:white">
    <h3>My Assistant</h3>
    <table style="float:right">
        <tr>
            <td>
                <div class="button" id="reset" style=""><a href="/" style="text-decoration:none">Reset</a></div>
            </td>
            &nbsp;
            <td>
                <div style="width: max-content;" class="button" id="analysis"><a href="#" style="text-decoration: none;">Problem Analysis</a></div>
            </td>
            <td>
                <div class="button dropdown" style="cursor:pointer; color:white">
                    Template
                    <div class="dropdown-content" style="left:-40px;top:38px">
                        <a id="temp1" href="#">Template 1</a>
                        <a id="temp2" href="#">Template 2</a>
                        <a id="temp3" href="#">Template 3</a>

                    </div>
                </div>
            </td>

        </tr>
    </table>
    <span class="tooltiptext1">Share this link with customer. https://aka.ms/qawebsharer </span>
    
    <link href="~/Content/rte_theme_default.css" rel="stylesheet" />
    <script src="~/Scripts/rte.js"></script>
    <script src="~/Scripts/all_plugins.js"></script>

    <form method="post">
        <textarea id="mytextarea" name="mytextarea">
        <p>
            PROBLEM STATEMENT:
        </p><p>
            **************************
        </p><p>
            Issue Description:
        </p><p>
            Severity:
        </p><p>
            Scope:
        </p><p>
            Business Impact:
        </p><p><br></p><p>
        </p><p>
            CASE SUMMARY:
        </p><p>
            *******************
        </p><p>
            Environment:
        </p><p>
            Steps to repro the issue:
        </p><p>
            Repro Result:
        </p><p>
            Expected Result:
        </p><p>
            Troubleshooting Performed:
        </p><p><br></p><p>
        </p><p>
            ACTION PLAN:
        </p><p>
            ******************
        </p><p>
            Case Status:
        </p><p>
            Next Action:
        </p><p>
            Next Contact:
        </p><p>
            Articles for reference:
        </p>
    </textarea>
    </form>

    <div id="hiddenDiv" hidden>
        <h2>Problem Analysis Quadrant</h2>
        <table>
            <tr>
                <th class="header"></th>
                <th class="header">IS</th>
                <th class="header">IS NOT</th>
            </tr>
            <tr>
                <td class="header colheader">WHAT</td>
                <td><textarea></textarea></td>
                <td><textarea></textarea></td>
            </tr>
            <tr>
                <td class="header colheader">WHERE</td>
                <td><textarea></textarea></td>
                <td><textarea></textarea></td>
            </tr>
            <tr>
                <td class="header colheader">WHEN</td>
                <td><textarea></textarea></td>
                <td><textarea></textarea></td>
            </tr>
            <tr>
                <td class="header colheader">EXTENT</td>
                <td><textarea></textarea></td>
                <td><textarea></textarea></td>
            </tr>
        </table>
        <a href="https://www.youtube.com/watch?v=dUtoOUWnJY0" target="_blank">Problem Analysis - Sample Video</a>
    </div>
</div>
<script>
    //$(document).ready(function () {
    //    var myContent = tinymce.activeEditor.getContent();
    //    alert(myContent);
    //});
    window.onbeforeunload = function () {
        return "";
    }
    $("#analysis").click(function () {
        if ($("#hiddenDiv").is(":visible")) {
            $("#hiddenDiv").hide();
            $("#analysis").css("background-color", "#2196F3");
        } else {
            $("#hiddenDiv").show();
            $("#analysis").css("background-color", "#d33424e8");
            $(document).scrollTop($(document).height());
        }
    });
    $("#temp1,#temp2,#temp3").click(function (e) {
        if ($(this).text() == "Template 1")
            tinyMCE.activeEditor.setContent('<span>Template 1 Set</span>');
        else if ($(this).text() == "Template 2")
            tinyMCE.activeEditor.setContent('<span>Template 2 Set</span>');
        else
            tinyMCE.activeEditor.setContent('<span>Template 3 Set</span>');
    });
</script>