@model IEnumerable<_1Destiny.Models.DB_Teams>

@{
    ViewBag.Title = "Tools and Resources";
}
<select style="margin-top: 3%;" class="form-control" id="teams">
    @foreach (var item in Model)
    {
        <option value="@item.ID">@item.TeamName</option>
    }

</select>

<br />
<button class="button1" style="vertical-align:middle">
    <span>
        <a id="idtools" href="/Home/Tools?id=1"> Tools </a>
    </span>
</button>
<button class="button1" style="vertical-align:middle">
    <span>
        <a id="idRes" href="/Home/Resources1?id=1"> Resources </a>
    </span>
</button>
<button class="button1" style="vertical-align:middle">
    <span>
        <a id="idTrain" href="/Home/Training?id=1"> Training videos </a>
    </span>
</button>



<script>
    var yetVisited = localStorage['visited'];
    $(document).ready(function () {
        
        $(".w3-bar-block a").removeClass("w3-blue");
        $(".w3-bar-block a:nth-child(4)").addClass("w3-blue");
        //$("#teamID").val($("#teams").val());
        if (yetVisited == null) {
            localStorage['visited'] = $("#teams").val();
        }
        else
            $("#teams").val(localStorage['visited']);
//        document.getElementById("idtools").href = "/Home/Tools?id=" + $("#teamID").val();
        document.getElementById("idtools").href = "/Home/Tools?id=" + localStorage['visited'];

        document.getElementById("idRes").href = "/Home/Resources1?id=" + localStorage['visited'];
        document.getElementById("idTrain").href = "/Home/Training?id=" + localStorage['visited'];
    });
    $("#teams").change(function () {
        //$("#teamID").val($('option:selected', $(this)).val());
        localStorage['visited'] = $(this).val();
        document.getElementById("idtools").href = "/Home/Tools?id=" + localStorage['visited'];
        document.getElementById("idRes").href = "/Home/Resources1?id=" + localStorage['visited'];
        document.getElementById("idTrain").href = "/Home/Training?id=" + localStorage['visited'];

    });
</script>